@import '../../styles/common/colors';
@import "../../styles/common/fonts";
@import "../../styles/common/borders";

// $table-border: 1px solid $gray-300;
$isg-row-height: 40px;
$csg-row-height: 48px;
$compact-row-height: 32px;
$isg-header-height: 48px;
$csg-header-height:48px;
$compact-header-height: 40px;

.expanded-row {
    border-top: unset;
    td {
        padding: 24px 16px;
    }
}
.header-cell {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .column-sorting {
        padding-left: 10px;
        width: 40px;
        height: 20px;
    }
}
.table-body {
    position: relative;
}
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $primary-white;
    opacity: 0.5;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: unset;
}
.dropdown-menu.show {
    padding: 10px 20px;
}
.pagination {
    p {
        margin-bottom: unset;
    }
    display: flex;
    flex:1;
    align-items: center;
    justify-content: space-between;
    .page-selection-container {
        * {
            padding: 0 10px;
        }
        .dropdown-menu.show {
            padding: unset;
        }
        span {
            padding: unset;
        }
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    input {
        max-width: 45px;
        font-size: 14px;
        border: 1px solid $gray-300;
    }
}

.record-count {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}


.column-select {
    // making the button color to transparent
    .btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        background-color: transparent;
        border: unset;
        padding: unset;
    }
    // removing the focus box shadow
    .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    // To remove drop down icon as it is not required in this case
    .dropdown-toggle::after {
        content: none;
    }
}


// Icon styles
.column-picker-icon {
    max-width: 20px;
    max-height: 20px;
}
.sorting-icons {
    max-width: 8px;
    line-height: 20px;
}

.isg-row {
    height: $isg-row-height;
    line-height: $isg-row-height;
}
.csg-row {
    height: $csg-row-height;
    line-height: $csg-row-height;
    border: 1px solid #E4E4E4 !important;
    
}
.compact-row {
    height: $compact-row-height;
    line-height: $compact-row-height;
}

.isg-header {
    height: $isg-header-height;
    line-height: $isg-header-height;
}

.csg-header {
    height: $csg-header-height;
    line-height: $csg-header-height;
}

.compact-header {
    height: $compact-header-height;
    line-height: $compact-header-height;
}

.isg-row, .csg-row, .compact-row, .isg-header, .csg-header, .compact-header {
    td, th {
        height: 48px;
        line-height: inherit; 
         padding-left: 9px;
         padding-right: 9px;
        border-top-style: solid;
        border-top-width: 0.05rem;
        border-top-color: #E4E4E4;
        font-size: 14px;
        // margin: 4rem;
        // margin-top: 0rem;
        align-items: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.empty-datagrid-header-bottom {
    td, th {
        border-bottom-style: solid !important;
        border-bottom-width: 0.02rem !important;
        border-bottom-color: #E4E4E4 !important;
    }
}

.row-select-title {
    font-weight: bold;
    padding: 10px 0;
}

.expansion-column {
    padding: 0 16px;
}
.expansion-icon {
    height: 14px;
    width: 7.82px;
    display: flex;
    img {
        height: 100%;
        width: 100%;
    }
}
.expanded {
    transform: rotate(90deg);
}

.table-css{
    .table {

    border-color: #E4E4E4;
    border: 1px solid #E4E4E4 !important;

    }
    table {
        border: solid 1px #E4E4E4;
    }
    //  display: inline-block;
    //  overflow-y: scroll;
    //  max-height: 1200px;
}

.detailPanelCSS{
    width: 650px;
    overflow-x: scroll;
}

.scroll-div{
    height: 300px; 
 //   overflow-y: "auto";

}

.infinite-scroll-component {
    overflow-x: hidden !important;
}

.details-card {
    padding: 1.295rem 2.2585rem 1.7635rem 1.677rem;
    margin-top: 0 ;
    .title-container {
      display: flex;
      justify-content: space-between;
      .title {
        margin: unset;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.15rem;
      }
      .close-button {
        height: 1.2rem !important;
        margin: unset;
      }
    }
  
    .borderless-table {
      &.table.table-noborder td {
        text-align: left;
        border: unset;
        min-width: 50%;
        font-size: 0.65rem;
        font-weight: 500;
        line-height: 0.75rem;
      }
    }
    .card-block {
        padding: unset;
        margin: unset;
        table {
            margin-top: unset;
        }
    }
    .card-title {
      margin-bottom: 1.19rem;
    }
    .medium-button {
      margin: unset;
      margin-top: 1.1975rem;
      height: 1.6rem !important;
    }
  }
  
  .empty-datagrid {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: 16px;
  position: relative;  
 }

.empty-table-border{
    border-top: 1px solid gray;
}

.resizer {
    display: inline-block;
    background: #E4E4E4;
    width: 1px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;
    color: #E4E4E4;
    margin-top: 0.5rem;

    &.isResizing {
      background:  #E4E4E4;
    }
}

.checkbox {
    margin: 0.5em 0 0.5em 0.5em;
  }
  .checkbox .tag {
    color: #595959;
    display: block;
    float: left;
    font-weight: bold;
    position: relative;
    width: 120px;
  }
  .checkbox label {
    display: inline;
  }
  .checkbox .input-assumpte {
    display: none;
  }
  .input-assumpte + label:after {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    transition-duration: 0.3s;
    width: 16px;
    height: 16px;
    content: '';
    margin-left: 10px;
    opacity: 0;
  }
  .input-assumpte:checked + label:after {
    background-color: #f5f3f3;
    border-color: #E4E4E4;
    opacity: 0;
  }