.ColumnSelect{
    padding: 10px;
    padding-left: 10px;
    width: max-content;
} 

.ColumnSelect-header{
    font-weight: 700 !important;
}

.ColumnSelect-reset-button{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0.5px;
    padding-left: 0.5px;
    height: 40px;
    border: 1px solid lightgray;
    width: 120px !important;
}

.Reset-button-margin-css{
    margin: 0rem !important;
}

.ColumnSelect-header-names{
    padding-left: 4px;
}

.column-switch {
    border-radius: 0.15rem;
    border-radius: var(--clr-global-borderradius, 0.15rem);
    padding: 0.9rem;
    background-color: #fff;
    background-color: var(--clr-datagrid-popover-bg-color, white);
    border-width: 0.05rem;
    border-width: var(--clr-global-borderwidth, 0.05rem);
    border-style: solid;
    border-color: #ccc;
    border-color: var(--clr-datagrid-popover-border-color, #cccccc);
    // box-shadow: 0 0.05rem 0.15rem rgb(140 140 140 / 25%);
    box-shadow: 0 0.05rem 0.15rem var(--clr-datagrid-popovers-box-shadow-color, rgba(140, 140, 140, 0.25));
    width: 9rem;
    display: flex;
    flex-direction: column;
    z-index: 1060;
}

.clr-popover-content {
    position: fixed;
    z-index: 5000;
}