
.filter-container {
    background-color: #ffffff;
    padding: 0.5rem;
    min-width: 10rem;
    position: relative;
    .filter-item-container {
      .filter-item-title {
        font-weight: bold;
      }
    }
    .filter-item-checkbox {
      display: flex;
      padding: 0.5rem;
      border-style: solid;
      border-width: 0.5px 0.5px 0 0.5px;
      border-color: #ccc;
      &:last-child {
        border-width: 0.5px 0.5px 0.5px 0.5px;
      }
    }
    .filter-close-button {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      max-height: 1rem;
    }
  }
  
  .filter-pane {
    flex: 1;
    animation: expand 500ms ease-in-out;
    min-width: 1%;
    max-width: 12rem;
    min-height: 100%;
    background-color: white;
    border: 1px solid #e4e4e4;;
    margin-right: 1.153rem;
  }

  .filter-classes{
  .clr-control-container datepicker-container{
    width: 10rem;
  }

  .clr-select{
    width: 9.5rem !important;
  }

  .accordion-header{
    margin-top: 0rem !important;
  }

  .accordion-button{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: none;
  background-color: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: none;
  background-color: none;
}

.clr-control-container .clr-select-wrapper {
  width: 9rem !important;
}

.datepicker-container .clr-input-wrapper {
  width: 9.7rem !important;
}

.btn-close {
  width: 0.35rem;
  height: 0.35rem;
}

.card{
  margin: 0;
  border: none;
  box-shadow: none !important;
}

.align-close-icon {
  margin: 16px;
}

.card-header, .card-title {
  font-size: 0.8rem;
}
.accordion-body {
   padding: 0;
   padding-left: 0.8rem;
}

.filter-container .filter-item-checkbox {
   border-style: solid;
}

.accordion-button:not(.collapsed) {
  color: none;
  background-color: white;
  box-shadow:none;
}

.accordion {
--bs-accordion-btn-icon-width: 0.85rem;
}

.accordion-button::after {
  margin-top: 1rem;
}

.filter-container .filter-item-checkbox {
  border-style: none !important;
}
}