@import "../../../styles/index";
.keyvalue-container {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    background-color: $gray-100;
    .keyvalue-form {
        display: flex;
        align-items: center;
        margin: 10px;
        .keyvalue-form-control-container {
            display: flex;
            align-items: center;
            margin: 10px;
            .keyvalue-form-label {
                margin-right: 10px
            }
        }
        .icons {
            cursor: pointer;
        }
        .icons:active {
            opacity: 0.5;
        }
    }
}
